NOTION_API_KEY=
NOTION_LMONGODB_URI="mongodb+srv://..."

# ─── Qdrant Cloud (Vector Database) ─────────────────────────────────────────
QDRANT_CLOUD_URL="paste_your_cluster_url_here"
QDRANT_API_KEY="paste_your_api_key_here"

NOTION_LOG_DB_ID=
NOTION_WRITING_DB_ID=
NVIDIA_API_KEY=

# Mobile Push Notification Configurations
NOTIFICATION_PROVIDER=telegram # options: telegram, discord
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DISCORD_WEBHOOK_URL=
