NOTION_API_KEY=
NOTION_LOG_DB_ID=
NOTION_WRITING_DB_ID=
QDRANT_URL=
QDRANT_API_KEY=
GEMINI_API_KEY=

# Mobile Push Notification Configurations
NOTIFICATION_PROVIDER=telegram # options: telegram, discord
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DISCORD_WEBHOOK_URL=

# MongoDB Cloud Connection
MONGODB_URI=
