--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
anthropic
qdrant-client
notion-client
pydantic
gspread
google-auth
numpy
google-generativeai
sentence-transformers
torch
